<div class="main-container">
    <app-heading [title]="'Votre projet, notre énergie, contactons-nous'" [img]="'assets/img/zoom-woofer.png'"></app-heading>

    <section class=" bg--secondary">
        <div class="container">
            <h1>Loic Communier</h1>
            <h3>Téléphone: +33(0) 6 29 96 95 30</h3>
            <h3>Email: loic.communier@gmail.com</h3>
            <!-- <div class="row justify-content-center no-gutters">
                <div class="col-md-10 col-lg-8">
                    <div class="boxed boxed--border">
                        <form class="text-left form-email row mx-0" data-success="Thanks for your enquiry, we'll be in touch shortly.">
                            <div class="col-md-6">
                                <span>Name:</span>
                                <input type="text" name="name" class="validate-required" />
                            </div>
                            <div class="col-md-6">
                                <span>Company:</span>
                                <input type="text" name="company" class="validate-required" />
                            </div>
                            <div class="col-md-6">
                                <span>Email Address:</span>
                                <input type="email" name="email" class="validate-required validate-email" />
                            </div>
                            <div class="col-md-6">
                                <span>Phone:</span>
                                <input type="tel" name="phone" class="validate-required" />
                            </div>
                            <div class="col-md-12">
                                <span>About Project:</span>
                                <textarea rows="5" name="description" class="validate-required"></textarea>
                            </div>

                            <div class="col-md-12 boxed">
                                <button type="submit" class="btn btn--primary type--uppercase">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        -->
        </div>
        <!--end of container-->
    </section>
</div>