<section class="text-center imagebg parallax" data-overlay="4" [ngStyle]="{ 'background-image':'url(assets/img/pikip-enceinte.jpg)'}">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/pikip-enceinte.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="cta">
                    <h2>Change lives, empower people and build meaningful connections as a volunteer</h2>
                    <p class="lead">
                        On average, applicants are 40% more likely to find ongoing work in the creative industry using our jobs board.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                        <span class="btn__text">
                            Register Interest
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
