<section class="text-center imagebg parallax" data-overlay="4" [ngStyle]="{ 'background-image':'url(assets/img/zoom-woofer.png)'}">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/zoom-woofer.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="cta">
                    <h2>"Des décibels solaires"</h2>
                    <p class="lead">
                        Les solutions de sons amplifiées proposées s’appuient sur trois piliers facilitant la mise en place de vos évènements dans une démarche raisonnée. 
                    </p>
                    <!-- <a class="btn btn--primary type--uppercase" href="#">
                        <span class="btn__text">
                            Register Interest
                        </span>
                    </a> -->
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
