<div class="main-container">
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Tivoli Model One
                        <br /> Next-gen Digital Radio</h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center">
                    <img alt="Image" src="assets/img/product-single-large-1.jpg" />
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <h2 class="text-center">A sound like no other&hellip;</h2>
                    <p class="lead">
                        Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="switchable bg--secondary">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-7">
                    <img alt="Image" src="assets/img/product-single-large-2.jpg" />
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="switchable__text">
                        <h3>Experience quality</h3>
                        <p class="lead">
                            Stack is built with customization and ease-of-use at its core &mdash; whether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template.
                        </p>
                        <hr class="short" />
                        <p>
                            Each purchase of Stack includes six months of free support and lifetime free content and bug-fix updates.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-7 col-lg-6">
                    <div class="slider border--round boxed--border" data-paging="true" data-arrows="true">
                        <ul class="slides">
                            <li>
                                <img alt="Image" src="assets/img/product-single-2.jpg" />
                            </li>
                            <li>
                                <img alt="Image" src="assets/img/product-single-1.jpg" />
                            </li>
                            <li>
                                <img alt="Image" src="assets/img/product-single-3.jpg" />
                            </li>
                        </ul>
                    </div>
                    <!--end slider-->
                </div>
                <div class="col-md-5 col-lg-4">
                    <ul class="accordion accordion-2 accordion--oneopen">
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Audio Quality</span>
                            </div>
                            <div class="accordion__content">
                                <p class="lead">
                                    Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike.
                                </p>
                                <p class="lead">
                                    Add to this the thoughtfully presented documentation, featuring code highlighting, snippets, class customizer explanation and you've got yourself one powerful value package.
                                </p>
                            </div>
                        </li>
                        <li class="active">
                            <div class="accordion__title">
                                <span class="h5">Connectivity</span>
                            </div>
                            <div class="accordion__content">
                                <p class="lead">
                                    Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                                </p>
                                <p class="lead">
                                    Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Tivoli Experience</span>
                            </div>
                            <div class="accordion__content">
                                <p class="lead">
                                    Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!--end accordion-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="text-center space--lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Ready to rediscover radio?</h2>
                    <span class="h1">$479.99</span>
                    <form class="row justify-content-center">
                        <div class="col-lg-2 col-md-5">
                            <input type="text" name="quantity" placeholder="Quantity" />
                        </div>
                        <div class="col-lg-3 col-md-5">
                            <button type="submit" class="btn btn--primary">Add to cart</button>
                        </div>
                    </form>
                    <span class="type--fine-print">Read our
                        <a href="#">Shipping Information</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    
    <app-related-product></app-related-product>

</div>
