<div class="main-container">
    <app-heading 
    [title]="'Vos évènements en toute liberté'"
    [subtitle]="'Location de Systèmes Solaires Autonomes'"
    [img]="'assets/img/zoom-woofer.png'"></app-heading>
    
    <section class="text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <h2>"Des décibels solaires"</h2>
                    <p class="lead">
                        Les solutions de sons amplifiées proposées s’appuient sur trois piliers facilitant la mise en place de vos évènements dans une démarche raisonnée. 
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <app-three-features></app-three-features>
    <section class="bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Current Campaigns</h2>
                    <div class="slider" data-arrows="false" data-paging="true">
                        <ul class="slides">
                            <li class="col-md-4 col-12">
                                <div class="feature feature-1">
                                    <img alt="Image" src="assets/img/nonprofit-2.jpg" />
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Project H20</h5>
                                        <p>
                                            Providing clean drinking water to remote villages in Burmah
                                        </p>
                                        <a href="#">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                                <!--end feature-->
                            </li>
                            <li class="col-md-4 col-12">
                                <div class="feature feature-1">
                                    <img alt="Image" src="assets/img/nonprofit-3.jpg" />
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Drawn To Creativity</h5>
                                        <p>
                                            Providing creative materials to empower budding artists
                                        </p>
                                        <a href="#">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                                <!--end feature-->
                            </li>
                            <li class="col-md-4 col-12">
                                <div class="feature feature-1">
                                    <img alt="Image" src="assets/img/nonprofit-4.jpg" />
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Built To Prosper</h5>
                                        <p>
                                            Providing stable dwellings for families in Tanzania
                                        </p>
                                        <a href="#">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                                <!--end feature-->
                            </li>
                            <li class="col-md-4 col-12">
                                <div class="feature feature-1">
                                    <img alt="Image" src="assets/img/nonprofit-6.jpg" />
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Leaf Off Our Trees</h5>
                                        <p>
                                            Preserving endangered tree species in North America
                                        </p>
                                        <a href="#">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                                <!--end feature-->
                            </li>
                        </ul>
                    </div>
                    <!--end of row-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="switchable switchable--switch bg--secondary">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-6 col-lg-5">
                    <div class="switchable__text">
                        <h2>Stay informed about new and upcoming campaigns</h2>
                        <p class="lead">
                            Our customers love the comfort that comes with six-months of included support. Our dedicated support forum makes support hassle-free.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg--secondary boxed boxed--border boxed--lg">
                        <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms.">
                            <input class="validate-required" type="text" name="NAME" placeholder="Your Name" />
                            <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address" />
                            <input class="validate-required" type="checkbox" name="group[13737][1]" />
                            <span>I have read and agree to the
                                <a href="#">terms and conditions</a>
                            </span>
                            <button type="submit" class="btn btn--primary type--uppercase">Subscribe To Newsletter</button>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <app-parallax></app-parallax>
    
</div>