<footer class="space--sm footer-1 text-center-xs ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline list--hover">
                    <li>
                        <a href="#">
                            <span>Loic Communier</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>+33(0) 6 29 96 95 30</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="https://www.facebook.com/eventerra.bretagne">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/eventerra.bretagne/">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
                <a href="mailTo:loic.communier@gmail.com" class="btn type--uppercase">
                    <span class="btn__text">
                        Contact Us
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-12">
                <img alt="Image" class="logo" src="assets/img/logo-eventerra.png" />
                <!-- <span class="type--fine-print">&copy;
                    <span class="update-year"></span> Stack Inc.</span>
                <a class="type--fine-print" href="#">Privacy Policy</a>
                <a class="type--fine-print" href="#">Legal</a> -->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
