<section class="cover height-80 imagebg text-center parallax" data-overlay="5">
    <div class="background-image-holder background--top">
        <img alt="background" src="assets/img/pikip-enceinte.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    Empowering children through creative programs
                </h3>
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">
                        Donate Today
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
